* {
    box-sizing: border-box;
}

nav {
    background-color: black;
    height: 50px;
    width: 100%;
    float: left;
    text-align: center; 
}

#redirect {
    height: 50px;
    width: 6%;
    padding-top: 15px;
    border: 1px solid gray;
    color: white;
    float: left;
    text-align: center;
    
}

#logo, #sign{
    border: 1px solid gray;
    height: 50px;
    float: left;
    width: 8%;
    padding: 15px;
    color: white;
}

#sign{
    width: 14%;
}
body{
    background-color: white;
}